<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zmy.exp.multisrc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/logo" >
        <activity
            android:name=".user.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/MainStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.DisplayMessageActivity" />
        <activity
            android:name=".action.ActionViewerActivity"
            android:theme="@style/ActionViewerStyle" />
        <activity
            android:name=".action.ActionDetailActivity"
            android:theme="@style/ActionViewerStyle_NoActionBar" />
        <activity
            android:name=".Survey.SurveyListActivity"
            android:label="@string/title_survey_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zmy.exp.multisrc.Login.LoginActivity" />
        </activity>
        <activity
            android:name=".Survey.SurveyDetailActivity"
            android:label="@string/title_survey_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SurveyListActivity" />
        </activity>
        <activity
            android:name=".user.InviteActivity"
            android:label="@string/title_activity_invite" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zmy.exp.multisrc.user.LoginActivity" />
        </activity>
    </application>

</manifest>